<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>WP lab - Confirmation Info</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding: 3px 2px;
        }
    </style>
</head>
<body>
<section>
    <header>
        <h1>Pizza Order page - Order confirmation </h1>
    </header>
    <table>
        <tr>
            <th colspan="2">
                Your Order Status
            </th>
        </tr>
        <tr>
            <td><b>Client Name </b></td>
            <td th:text="${clientName}"></td>
        </tr>
        <tr>
            <td><b>Client Address </b></td>
            <td th:text="${clientAddress}"></td>
        </tr>
        <tr>
            <td><b>Client IP Address</b></td>
            <td th:text="${clientIp}"></td>
        </tr>
        <tr>
            <td><b>Client Browser</b></td>
            <td th:text="${clientBrowser}"></td>
        </tr>
        <tr>
            <td><b>Pizza Type </b></td>
            <td th:text="${pizza_type}"></td>
        </tr>
        <tr>
            <td><b>Pizza Size </b></td>
            <td th:text="${pizza_size}"></td>
        </tr>
    </table>
    <div class="mt-4">
        <form method="POST">
            <input type="submit" class="btn btn-secondary" value="Log out">
        </form>
    </div>
</section>
</body>
</html>