<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Pizza Order page - Welcome and choose pizza</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Pizza Delivery App</h1>
</header>
<main>
    <p th:text="${error_msg}">
    </p>
    <form method="POST">
    <h2>Choose pizza:</h2>
        <th: block th:each="pizza : ${pizzas}">
            <input type="radio" name="pizza" th:value="${pizza.name}" th:text="${pizza.description}"><br/>
        </th:>
        <br/>
    <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>